<?xml version="1.0"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <appSettings>
        <add key="OutFolder" value="D:\\DynamicClass\\{0}\"/>
        <add key="SqlConnection" value=""/>
        <add key="Email_Subject" value="DMS Hosel"/>
        <add key="Email_To" value=""/>
        <add key="Email_CC" value=""/>
        <add key="Email_BCC" value=""/>
        <add key="ErrorFileLength" value="40960"/>
        <!--bytes-->
        <add key="DayAdd" value="0"/>
    </appSettings>
</configuration>
